<main>
  <div class="hero-container">
    <div class="hero-header">
      <h1>SHIPSHIP</h1>
    </div>
  </div>
    <div class="sidebar">
    <ul class="sidebar-options">
      <li>LOGIN</li>
      <li>SIGNUP</li>
      <li>DASHBOARD</li>
    </ul>
    <div class="ship-it">
      <h1>SHIP IT!</h1>
    </div>
  </div>
</main>
<section>
  <div class="info-container">
    <div class="info-header">
      <h1>How we work...</h1>
    </div>
  </div>
</section>
