<main>
  <div class="landing-hero-container">
    <div class="landing-hero-header">
      <h1>SHIPSHIP</h1>
    </div>
    <div class="landing-logo-container">
      <div class="landing-left-logo-side">
        <div class="landing-p-container">
          <p>
            Let us help you find the best shipping options for any and all needs...
          </p>
        </div>
      </div>
      <div class="landing-center-logo">
        <div id="landing-logo"></div>
      </div>
      <div class="landing-right-logo-side">
      </div>
    </div>
    <div id="landing-hooray">
      <h1>...HOORAY!</h1>
    </div>
  </div>
    <div class="landing-sidebar">
    <ul class="landing-sidebar-options">
      <li>LOGIN</li>
      <li>SIGNUP</li>
      <li>DASHBOARD</li>
    </ul>
    <div class="landing-ship-it">
      <h1>SHIP IT!</h1>
    </div>
  </div>
</main>
<section>
  <div class="landing-info-container">
    <div class="landing-info-header">
      <h1>How we work...</h1>
    </div>

    <!-- INFO SECTION -->

    <div class="landing-cards-container">

      <!-- CARD 1 -->

      <div class="landing-card">
        <div class="landing-card-header"><p>Build your packages</p></div>
        <div class="landing-card-logo">
        </div>
        <p class="landing-card-footer">
          this is just a placeholder, we gotta add some information about how to actually build the packages...
        </p>
      </div>

      <!-- CARD 2 -->

      <div class="landing-card">
        <div class="landing-card-header">
          <p>Give us your info</p>
        </div>
        <div class="landing-card-logo">
        </div>
        <p class="landing-card-footer">
          this is just a placeholder, we gotta add some information about how to actually build the packages...
        </p>
      </div>

      <!-- CARD 3 -->

      <div class="landing-card">
        <div class="landing-card-header">
          <p>Compare prices!</p>
        </div>
        <div class="landing-card-logo">
        </div>
        <p class="landing-card-footer">
          this is just a placeholder, we gotta add some information about how to actually build the packages...
        </p>
      </div>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT US PAGE -->

<section>
  <div class="landing-contact-container">

  <!-- CONTACT US HEADER -->

    <div class="landing-team">
      <div class="landing-contact-header">
        <h1>Contact Us</h1>
      </div>

      <div class="landing-team-pics-container">

        <div class="landing-address">
          <p>
            TO:
          </p>
          <p>
            Wyncode Academy
            <br>
            2650 NW 5 Ave, 
            <br>
            Miami, FL 33127
            <br>
            (305) 928-1384
          </p>
        </div>

        <div class="landing-pics-cards">

        </div>

      </div>

    </div>
    <div class="landing-contact-form">
    </div>
  </div>
</section>
