<main>
  <div class="hero-container">
    <div class="hero-header">
      <h1>SHIPSHIP</h1>
    </div>
    <div class="logo-container">
      <div class=left-logo-side>
        <div class=p-container>
          <p>
            Let us help you find the best shipping options for any and all needs...
          </p>
        </div>
      </div>
      <div class=center-logo>
        <div id=logo></div>
      </div>
      <div class=right-logo-side>
      </div>
    </div>
    <div id="hooray">
      <h1>...HOORAY!</h1>
    </div>
  </div>
    <div class="sidebar">
    <ul class="sidebar-options">
      <li>LOGIN</li>
      <li>SIGNUP</li>
      <li>DASHBOARD</li>
    </ul>
    <div class="ship-it">
      <h1>SHIP IT!</h1>
    </div>
  </div>
</main>
<section>
  <div class="info-container">
    <div class="info-header">
      <h1>How we work...</h1>
    </div>

    <!-- INFO SECTION -->

    <div class="cards-container">

      <!-- CARD 1 -->

      <div class="card">
        <div class="card-header"><p>Build your packages</p></div>
        <div class="card-logo">
        </div>
        <p class="card-footer">
          this is just a placeholder, we gotta add some information about how to actually build the packages...
        </p>
      </div>

      <!-- CARD 2 -->

      <div class="card">
        <div class="card-header">
          <p>Give us your info</p>
        </div>
        <div class="card-logo">
        </div>
        <p class="card-footer">
          this is just a placeholder, we gotta add some information about how to actually build the packages...
        </p>
      </div>

      <!-- CARD 3 -->

      <div class="card">
        <div class="card-header">
          <p>Compare prices!</p>
        </div>
        <div class="card-logo">
        </div>
        <p class="card-footer">
          this is just a placeholder, we gotta add some information about how to actually build the packages...
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
