
<%= link_to "home", root_path %>

<h1>This is the dashboard</h1>

<div>
Would you like to finish setting up your profile?
<%= link_to "Setup Profile", root_path %>
</div>

<div>
Would you like to create a new shipment?
<%= link_to "Create Shipment", new_shipment_path %>
</div>

<h2>ACCOUNT INFO</h2>
<p>Information will populate here once the new user profile has been setup?</p>