.carrier-nav{
  background-color:#E0E5FA;
  height: 4rem;
}

.carriers-header {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 20vh;
}

.carriers-header-header {
    display: flex;
    align-items: center;
    color: #273338
}

.carriers-header-header h1 {
  font-size: 2.5rem;
}

.carriers-tablehead {
  align-items: center;
  background: #E0E5FA;
}

.carriers-tablehead-tr {
  height: 10vh;
}

.carriers-tablehead-th {
  font-size: 1.2rem;
  width: 20vw;
  color: #FFC7A6;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carriers-main {
  width: 100vw;
  height: 95vh;
}

.carriers-table {
  width: 100vw;
  height: 90vh;
  background: white;
}

.carriers-table-carrier {
  background: gray;
  text-align: center;
}

.logo-img-container {
  width: 20vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.USPS {
  width: 20vw;
  height: 20vh;
}

.FedEx {
  width: 20vw;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UPS {
  width: 20vw;
  height: 20vh;
}



.carriers-table-select-cell {
  text-align: center;
}

.carriers-table-rates {
  text-align: center;
}

/* 
.carriers-table-rates ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

.carriers-table-delivery {
  text-align: center;
}

.carriers-checkbox {
  text-align: center;
}

.carriers-section-footer {
  width: 100vw;
  height: 20vh;
}

.carriers-icon {
  color: black;
}

#carriers-select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 1px solid rgba(39, 51, 56, 0.5);
  border-radius: 0;
  appearance: none;
}

#carriers-select:hover {
  color: black;
  background: lightgray;
}

.ui.checkbox label:before {
  width: 2rem;
  height: 2rem;
  background: #E0E5FA;
}

.ui.checkbox input:checked~label:after {
  content: '\e800';
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
}