.dashboard-main{
  background: linear-gradient(25deg, #a9b8f7 0%, rgba(224,229,250,1) 100%);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Comfortaa', cursive;
}

.dashboard-main h1{
  grid-column: 2;
  text-align: center;
}

.dashboard-account{
  margin-top: 2rem;
  grid-column-start: 0;
  grid-row-start: 2;
  text-align: center;
}

.dashboard-account-container{
  width: 250px;
  text-align: center;
  margin-left: 0;
  user-select: none;
  outline: none;
  outline-width: 0;
}

.dashboard-account label{
  display: inline-block;

  width: 100px;
  text-align: left;
}

.dashboard-account input{
  text-indent: 1rem;
  position: relative;
  outline: none;
  /* user-select: none;
  outline: none;
  outline-width: 0; */

}

.dashboard-create{
  grid-column-start: 3;
  grid-row-start: 1;
  text-align: center;
  }

.dashboard-location-container{
  overflow: auto;
}

.container {
  width: 220px;
  height: 220px;
  display: flex;
          justify-content: center;
          align-items: center;
}

.box {
  position: absolute;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  transition: box-shadow ease 1s;
}

.icon {
  position: relative;
  margin-top: 8px;
  transition: all 0.6s ease;
  transition-delay: 0.32s;
  will-change: transform;
}

.icon_bg {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid rgba(225, 227, 232, 0.18);
  box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
  transition-delay: 0.32s;
  will-change: transform;
}

.super-box:hover .box {
  box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
  transition-delay: 0.32s;
}

.super-box:hover .icon_bg {
  transform: translateY(-32px) scale(6);
}

.super-box:hover .icon {
  transform: translateY(-48px) scale(1.4);
}

.super-box {
  position: relative;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  position: relative;
  top: -32px;
  width: 200px;
  text-align: center;
  transition: all 0.4s ease;
  transition-delay: 0.32s;
}

.super-box:hover .text {
  opacity: 0;
  transform: translateY(-4px) scale(.8);
}

.box::after {
  content: attr(data-content);
  position: absolute;
  opacity: 0;
  font-size: 13px;
  line-height: 20px;
  transition: all 0.3s ease;
  transition-delay: 0.32s;
}

.super-box:hover .box::after {
  opacity: 1;
}

.dr {
  position: absolute;
  bottom: 16px; 
  right: 16px;
  width:100px;
}
