@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

p.notice, p.alert {
  margin: 0;
  padding: 0;
}

#landing-main {
  display: flex;
}

.landing-sidebar {
  width: 20vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background: linear-gradient(25deg, #A9B8F7 0%, rgba(224,229,250,1) 100%);
  position: fixed;
  right: 0px;
}

.landing-sidebar-options {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.landing-ship-it {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-ship-it a {
  margin: 0;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 800;
}

.landing-hero-container {
  width: 80vw;
  height: 100vh;
  background: #FFF;
}

.landing-hero-header {
  display: grid;
  justify-content: center;
  height: 20vh;
  align-items: center;
}

.landing-hero-header h1 {
  margin: 0;
  font-size: 3rem;
}

.landing-logo-container {
  width: 80vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 20vw 40vw 20vw;
}

.landing-center-logo {
  display: flex;
  align-items: center;
}

#landing-logo {
  width: 40vw;
  height: 60vh;
  background: papayawhip;
}

.landing-logo-imgtag {
  width: 100%;
  height: 100%;
}

.landing-left-logo-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-p-container {
  width: 80%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-p-container p {
  margin: 0;
}

#landing-hooray {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* INFO SECTION ABOUT US */

.landing-info-container {
  width: 80vw;
  height: 80vh;
  background: #F5F8F8;
}

.landing-info-header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-info-header h1 {
  margin: 0;
  font-size: 2rem;
}

.landing-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80vw;
  height: 65vh;
}

.landing-card {
  width: 100%;
  height: 60vh;
}

.landing-card-header, .landing-card-footer {
  width: 70%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.landing-card-header p {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.landing-card-logo {
  width: 90%;
  height: 30vh;
  background: papayawhip;
  margin: 2.5vh auto;
}

/* CONTACT PAGE */

.landing-contact-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 80vw;
  height: 100vh;
  background: #FFF;
}

.landing-contact-header {
  width: 80vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.landing-team-pics-container {
  width: 80vw;
  height: 50vh;
}

.landing-pics-cards {
  width: 80vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

.landing-card-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eric, .brendan, .andres {
  width: 20vw;
  border-radius: 50%
}

.landing-card-name h3 {
  margin-top: 1rem;
}

/* CONTACT FORM */
.landing-contact-form {
  width: 80vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input:nth-child(1), .form-input:nth-child(2) {
  margin-bottom: 1.5rem;
}

.form-input input, .form-input textarea {
  width: 100%;
}

.landing-contact-buttons {

}

