@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  color: #273438;
  line-height: 1.5;
  font-size: 0.94rem;
}

p.notice, p.alert {
  margin: 0;
  padding: 0;
}

#landing-main {
  display: flex;
}

.landing-sidebar {
  width: 20vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: linear-gradient(25deg, #A9B8F7 0%, rgba(224,229,250,1) 100%);
  position: fixed;
  right: 0px;
}

.landing-sidebar-options {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 800;
  font-size: 1rem;
}

.landing-sidebar-options li a {
  cursor: pointer;
  text-decoration: none;
  color: #273438;
  transition: ease-in-out .2s;
}

.landing-sidebar-options li a:hover {
  color: #f5f8f8;
}

.landing-ship-it {
  display: flex;
  justify-content: center;
  align-items: start;
}

.landing-ship-it a {
  margin: 0;
  font-size: 2.9rem;
  text-decoration: none;
  font-weight: 800;
  color: #FFC7A6;
  text-shadow: -1px 0 #273438, 0 1px #273438, 1px 0 #273438, 0 -1px #273438;
}

.landing-hero-container {
  width: 80vw;
  height: 100vh;
  background: #FFF;
}

.landing-hero-header {
  display: grid;
  justify-content: center;
  height: 20vh;
  align-items: center;
}

.landing-hero-header h1 {
  margin: 0;
  font-size: 3.5rem;
}

.landing-logo-container {
  width: 80vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 20vw 40vw 20vw;
}

.landing-center-logo {
  display: flex;
  align-items: center;
}

#landing-logo {
  width: 40vw;
  height: 60vh;
}

.landing-logo-imgtag {
  width: 100%;
  height: 100%;
}

.landing-left-logo-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-p-container {
  width: 80%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-p-container p {
  margin: 0;
}

.Typist {
  text-align: center;
  font-size: 2rem;
}

#landing-hooray {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* INFO SECTION ABOUT US */

.landing-info-container {
  width: 80vw;
  height: 100vh;
  background: #E6F8FF;
}

.landing-info-header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.landing-info-header h1 {
  margin: 5vh 0 0 0;
  font-size: 2rem;
}

.landing-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80vw;
  height: 75vh;
}

.landing-card {
  width: 100%;
  height: 100%;
}

.landing-card-header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.landing-card-footer {
  margin: 10vh auto 0 auto;
  width: 70%;
  display: flex;
  align-items: center;
}

.landing-card-header p {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.landing-card-logo {
  width: 90%;
  margin: 5vh auto;
}

.landing-card-logo img {
  width: 100%;
  height: 200px;
}
/* CONTACT PAGE */

.landing-contact-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 80vw;
  height: 100vh;
  background: #fff;
  background-color:#A9B8F7;
}

.landing-contact-header {
  width: 80vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.landing-contact-header h1{
color:rgba(224,229,250,1);
text-shadow: -1px 0 #FFC7A6, 0 1px #FFC7A6, 1px 0 #FFC7A6, 0 -1px #FFC7A6;
}

.landing-team-pics-container {
  width: 80vw;
  height: 30vh;
}

.landing-pics-cards {
  width: 80vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

.landing-card-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eric, .brendan, .andres {
  width: 20vw;
  border-radius: 50%
}

.landing-card-name h3 {
  margin-top: 1rem;
}

/* CONTACT FORM */
.landing-contact-form {
  width: 80vw;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.landing-contact-form form {
  width: 35vw;
}

.form-input:nth-child(1), .form-input:nth-child(2) {
  margin-bottom: 1.5rem;
}

.form-input input, .form-input textarea {
  width: 100%;
  padding: 0.45rem 0.75rem;
  box-sizing: border-box;
  font-size: 0.94rem;
  border-radius: 0.25rem;
  box-shadow: none;
  outline: none;
  border: 2px solid #FFC7A6;
  background-color:rgba(224,229,250,1);
}

.landing-contact-buttons{
  display:grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.landing-contact-buttons button{
  background: #A9B8F7;
  font-family: 'Comfortaa', cursive;
  background-image: -webkit-linear-gradient(top, #A9B8F7, #A9B8F7);
  background-image: -moz-linear-gradient(top, #A9B8F7, #A9B8F7);
  background-image: -ms-linear-gradient(top, #A9B8F7, #A9B8F7);
  background-image: -o-linear-gradient(top, #A9B8F7, #A9B8F7);
  background-image: linear-gradient(to bottom, #A9B8F7, #A9B8F7);
  border-radius: 13px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  box-shadow: inset 0px 0px 9px 0px #FFC7A6;
  text-shadow: 1px 1px 3px #FFC7A6;
  border: solid #FFC7A6 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline:none;
}

.landing-contact-buttons button:hover{
  background: #FFC7A6;
  border: solid #FFC7A6 1px;
  border-radius: 20px;
  text-decoration: none;
}

.landing-contact-buttons input[type="reset"]{
  background: #A9B8F7;
  font-family: 'Comfortaa', cursive;
  background-image: -webkit-linear-gradient(top, #A9B8F7, #A9B8F7);
  background-image: -moz-linear-gradient(top, #A9B8F7, #A9B8F7);
  background-image: -ms-linear-gradient(top, #A9B8F7, #A9B8F7);
  background-image: -o-linear-gradient(top, #A9B8F7, #A9B8F7);
  background-image: linear-gradient(to bottom, #A9B8F7, #A9B8F7);
  border-radius: 13px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  box-shadow: inset 0px 0px 9px 0px #FFC7A6;
  text-shadow: 1px 1px 3px #FFC7A6;
  border: solid #FFC7A6 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline:none;
}
.landing-contact-buttons input[type="reset"]:hover{
  background: #FFC7A6;
  border: solid #FFC7A6 1px;
  border-radius: 20px;
  text-decoration: none;
}

.contact-color{
  background-color:#A9B8F7;
}