body{
  top:0;
  left:0;
  right:0;
}

#new-shipment-cube {
  width: 750px;
  height: 500px;
  padding-top: 1rem;
}

.new-shipment-page{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: repeat(1, 1fr);
}

#dimensionsNotRound{
  display: grid;
  grid-column-start: 2;
  justify-content: center;
  margin-top:80px;
}
.new-shipment-header{
  display:flex;
  justify-content: center;
  font-size: 4rem;
}

