.shipment-form-group-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  position: relative;
  font-family: 'Comfortaa', cursive;
  user-select: none;
  font-size: 1.5rem;
}

.shipment-to-h1{
  position: relative;
  color: #4D5C99;
  padding-top: 3rem;
  margin-left: 8rem;
}

.shipment-to-address {
  position: relative;
  width:100%;
  background: linear-gradient(25deg, #a9b8f7 0%, rgba(224,229,250,1) 100%);
}

.shipment-to-wrap{
  position: absolute;
  top: 20%;
  left: 20%;
}

.shipment-to-address label{
  display: inline-block; 
  margin: 0 2rem 0 2rem;
  width: 100px;

}
.shipment-to-address input{
  position: relative;
  margin-top: 1rem;
  right: 30px;
  width: 200px;
  height: 2rem;
  font-size: 15px;
  text-indent: 1rem;
  border-radius: 2px;
  border: 1px solid #4D5C99;
  outline: none;
  color: #4D5C99;
} 
/* <------------from---------> */

.shipment-from-h1{
  color: #4D5C99;
  position: relative;
  width: 100%; 
  margin-left: 2rem;
  padding-top: 3rem;

}

.shipment-from-address {
  position: relative;
  width:100%;
}

.shipment-from-wrap{
  position: absolute;
  top: 20%;
  left: 20%;
}

.shipment-from-address label{
  display: inline-block; 
  margin: 0 2rem 0 2rem;
  width: 100px;
}

.shipment-from-address input{
  background-color: #E0E5FA; 
  position: relative;
  margin-top: 1rem;
  right: 30px;
  width: 200px;
  height: 2rem;
  font-size: 15px;
  text-indent: 1rem;
  border-radius: 2px;
  border: 1px solid #4D5C99;
  outline: none;
  color: #4D5C99;
  box-shadow: inset 0px 0px 5px 4px rgba(169,184,247,1);
}

.shipment-from-address input[type="submit"]{
  background: #A9B8F7;
  font-family: 'Comfortaa', cursive;
  background-image: linear-gradient(to bottom, #A9B8F7, #A9B8F7);
  border-radius: 13px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 300;
  margin-left:45%;  
  box-shadow: inset 0px 0px 9px 0px #FFC7A6;
  text-shadow: 1px 1px 3px #FFC7A6;
  border: solid #FFC7A6 2px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align:center;
  margin-top:3.5rem;
  height: 2.5rem;
}

.shipment-from-address input[type="submit"]:disabled{
  background: #FFC7A6;
  border: solid #FFC7A6 1px;
  border-radius: 20px;
  text-decoration: none;
}

:root {
  --radius: 2px;
  --baseFg: #FFC7A6;
  --baseBg: rgba(224,229,250,1);
  --accentFg: white;
  --accentBg: #A9B8F7;
}

select {
  font-family:'Comfortaa', cursive;
  -webkit-appearance: none;
  appearance: none;
  color: black;
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 5%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 5%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
  width:225px;
  text-indent: 0.10rem;
  font-size:16px;
}

select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    background-color:var(--baseFg);
}

select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--basefg);
  border-color: var(--baseFg);
  background-color: var(--baseFg);
}

.shipment-drop-down label{
margin-right:0;
}

.shipment-drop-down{
  margin-top:1rem;  
}
