.login-background{
  display:grid;
  grid-template-rows: 1fr 1fr;
  height:100vh;
  width:100vw;
}

.login-header{
  display:grid;
  justify-content:center;
  font-size:2.5rem;
  color:white;
}


.login-container form{
  display: block;
  text-align:center;
  margin-top:50px;
  outline:none;
}

.login-container label{
  color:white;
  font-size:25px;
}

.login-field{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.login-sign-up{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.signup-email input{
  outline:none;
}

.login-field input{
  outline:none;
  font-family: 'Comfortaa', cursive;
}
.signup-actions button{
  margin-top:20px;
}

.signup-error{
  position: absolute;
  right:5rem;
  bottom:5rem;
  color:#A9B8F7;

}

.signup-submit{
    background: #A9B8F7;
    font-family: 'Comfortaa', cursive;
    background-image: -webkit-linear-gradient(top, #A9B8F7, #A9B8F7);
    background-image: -moz-linear-gradient(top, #A9B8F7, #A9B8F7);
    background-image: -ms-linear-gradient(top, #A9B8F7, #A9B8F7);
    background-image: -o-linear-gradient(top, #A9B8F7, #A9B8F7);
    background-image: linear-gradient(to bottom, #A9B8F7, #A9B8F7);
    border-radius: 13px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 300;
    padding: .5rem;
    box-shadow: inset 0px 0px 9px 0px #FFC7A6;
    text-shadow: 1px 1px 3px #FFC7A6;
    border: solid #FFC7A6 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top:20px;
 }
 .signup-submit:hover {
    background: #FFC7A6;
    border: solid #FFC7A6 1px;
    border-radius: 20px;
    text-decoration: none;
 }


.login-forgot-password{
  position: absolute;
  bottom: 20px;
  height: 100px;
  width: 200px;
  text-align: center;
  margin: auto;

}

.login-image-container{
  display:flex;
  position: absolute;
  justify-content:flex-start;
  bottom: 1rem;
  left: 1rem;
  z-index: 5;
}


.login-image-container svg{
  position: relative;
  height: 100%;
  width: 20rem;
}
/* login svg */
#page-3, #page-5{
  animation-name: page1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
  @keyframes page1{
    0% { transform: translatey(0px); }
  25% { transform: translatey(20px); }
  50% { transform: translatey(-90px); }
  75% { transform: translatey(15px); }
  100% { transform: translateY(0px)}
  }

#page-1, #page-6{
  animation-name: page2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes page2{
  0% { transform: translatey(0px); }
50% { transform: translatey(50px); }
75% { transform: translatey(-25px); }
100% { transform: translateY(0px)}
}

  #page-2, #page-4, #page-5_2{
  animation-name: page2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
  